[Unit]
Description=Puzzle Box Python

[Service]
WorkingDirectory=/home/daniel/puzzle-box
ExecStart=/home/daniel/puzzle-box/venv/bin/python3 /home/daniel/puzzle-box/display.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
